<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
            <h3>Welcome, Super Admin</h3>
        </div>

    </div>
</nav>
    
<div>
    <h4 class="sah4">Add Trainer</h4>
</div>

<div class="col-sm-2 col-lg-4"></div>
<div class="col-sm-8 col-lg-4">

    <div class="form-group ">
        <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
    </div>

    <div class="form-group ">
        <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>

    <div class="form-group ">
        <div>
            <input class="form-control" id="name" name="firstname" type="text" placeholder="First Name" required/>
        </div>
    </div>

    <div class="form-group ">
        <div>
            <input class="form-control" id="name" name="lastname" type="text" placeholder="Last Name" required/>
        </div>
    </div>

    <div class="form-group ">
        <select class="form-control" id="role" required>
                    <option id="header" value="null">Role</option>
                    <option>0: Admin</option>
                    <option>1: Trainer</option>
                    <option>2: Client</option>
            </select>
    </div>

    <div class="form-group ">
        <select class="form-control" id="status" required>
                        <option id="header" value="null">Status</option>
                        <option>0: Active</option>
                        <option>1: Unavailable</option>
                        <option>2: Inactive</option>
                </select>
    </div>


    <div>
        <button type="button" class="btn btn-block btn-primary add-new">Add New Trainer</button>
    </div>
</div>