<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header nav navbar-nav navbar-left">
                <h3>Welcome, Super Admin</h3>
        </div>

    </div>
</nav>

<div>
<h4 class="sah4">Superadmin Panel</h4>
</div>

    <div class="container-fluid">
        <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input id="searchString"
                        type="text"
                        class="form-control input-lg" 
                        name="searchString"
                        ng-model = "listCtrl.searchString"
                        size="8"
                        placeholder="Search for a user" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-lg" ng-click="listCtrl.getList()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>

        </div>
    </div>

    <div class="table table-responsive">
        <div class="row custyle">
        <table class="table table-striped custab">
            <thead>
                <a class="btn btn-primary btn-xs addnew pull-right" ng-href="#" ng-click="listCtrl.addUser()"><span class="glyphicon glyphicon-plus-sign"></span> Add a New Trainer</a> 
                    <tr>
                        <!-- <th>User ID</th> -->
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Qualifications</th>
                        <th class="text-center">Action</th>
                    </tr>
            </thead>
            <tr ng-repeat="user in listCtrl.users">
                <!-- <td>{{ user.userUserID }}</td> -->
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td><span ng-repeat="qualify in user.userqualifies">
                    [{{ qualify.qualification.q_name }}]</span></td>
                <td class="text-center">
                <a class='btn btn-success btn-xs' ng-href="#" ng-click="listCtrl.viewUser()"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                <a class='btn btn-info btn-xs' ng-href="#" ng-click="listCtrl.editUser()"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a class="btn btn-danger btn-xs" ng-href="#"  ng-click="listCtrl.deleteUser()"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
            </tr>
        </table>
    </div>