

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header nav navbar-nav navbar-left">
                        <h3>Welcome, Super Admin</h3>
                    </div>

                    <div class="navbar-header nav navbar-nav navbar-right">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-center"></i>
                        </button>
                    </div>

                </div>
            </nav>

            <div class="container-fluid profile">
                <h3 class="profile-header">Edit Profile</h3>
                <hr>
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
                            <!-- <h6>Upload a different photo...</h6>
                            <input type="file" class="text-center center-block well well-sm"> -->
                        </div>
                    </div>
                    <!-- edit form column -->
                    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                        <h3>Personal info</h3>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                    <label class="col-lg-3 control-label">User ID:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" value="1" type="text">
                                    </div>
                            </div>  
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="janesemail@gmail.com" type="text">
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First name:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="Jane" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last name:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" value="Bishop" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Qualifications:</label>
                                <div class="col-md-8">
                                    <input class="form-control" value="Aerobics" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                        <a class='btn btn-success btn-xs' href="#" ng-click="listCtrl.saveUser()"> Save</a>
                                        <a class='btn btn-info btn-xs' href="#" ng-click="listCtrl.cancelUser()"> Cancel</a>
                                        <a class="btn btn-danger btn-xs" href="#"  ng-click="listCtrl.deleteUser()"> Delete</a></td>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>